[project]
	description = Simple ListView based on pinned-section-listview
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liuchonghui
[access "refs/for/refs/*"]
	read = group user/liuchonghui
	push = group user/liuchonghui
	label-Code-Review = -2..+2 group user/liuchonghui
	label-Verified = -1..+1 group user/liuchonghui
	rebase = group user/liuchonghui
	removeReviewer = group user/liuchonghui
	submit = group user/liuchonghui
[access "refs/heads/*"]
	read = group user/liuchonghui
	create = group user/liuchonghui
	push = +force group user/liuchonghui
	pushMerge = group user/liuchonghui
[access "refs/tags/*"]
	push = +force group user/liuchonghui
	pushTag = group user/liuchonghui
	pushSignedTag = group user/liuchonghui
